.container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.item {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: flex-start;

  a {
    cursor: pointer;
    color: white;
  }
}
