.price {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.priceValue {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.items {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
}