.modalContent {
  position: fixed;
  min-width: 720px;
  background-color: #1c1c21;
  color: #fff;
  display: flex;
  flex-flow: row-reverse;
  border-radius: 40px;
}

.side {
  margin: 60px 38px;
  cursor: pointer;
}

.content {
  min-width: 520px;
  margin-left: 100px;
}