.itemType {
  composes: text text_type_main-default text_color_inactive from global;
  font-weight: bold;
}

.itemValue {
  composes: text text_type_digits-default text_color_inactive from global;
}

.itemType, .itemValue {
  text-align: center;
}
