.header {
  margin: 40px 0 20px 0;
  font-size: 40px;
}

.tab {
  display: flex;
  flex-flow: column;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-top: 40px;
}

.ingredientContainer {
  width: 600px;
}

.tabContainer {
  display: flex;
}
