.nav {
  display: flex;
  justify-content: center;
  margin: 0 -40px;
}

.container {
  flex-shrink: 0;
  display: flex;
}

.logo {
  flex-grow: 1;
  align-self: center;
  display: flex;
}

.btn {
  composes: button button_type_secondary button_size_large from global;
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.icon {
  margin-right: 8px;
}